/* Reset code */
        *,*::after,*::before{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            border: 0;
            overflow: hidden;
        }
        body{
            font-size: 100%;
        }
        ul,ol{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: #210203;
        }
    /* Container */
        .container{
            width: 100%;
            max-width: 90%;
            margin: 0 auto;
        }
    /* Type */
    body,input,select,textarea{
        color: #68372c;
        font-family: "Raleway" , Arial ;
        font-size: 13pt ;
        font-weight: 300;
        line-height: 1.65;
    }
         #defaultCanvas0{
            /* width: 100vw !important;
            height: 100vh !important; */
            background-color: rgb(50, 50, 50);
        } 
